body{
    margin: 65px 0;
    background-color:rgb(10, 123, 185);
    padding: 0px 20;
}

.header{
    top: 0;
    position:fixed;
    width:100%;
    max-width: -20px;
    height: 60px;
    background-color:rgb(4, 75, 113);
}
