/* Seleciona um grupo inteiro, como todos paragrafos ou corpo todo */

 body {
     
   background-color:red;
}

/* Para usar um elemento a partir de sua classe usa-se um "." antes do nome da class */
/* Para a classe se mexe quando deseja alterar todos elementos com a mesma classe */

.teste0 {
    background-color:black;
    font-size: larger;
    color: royalblue;
}

.teste1 {
    background-color:black;
    font-size: larger;
    color: yellow;
}

/* Para usar um elemento a partir de seu id usa-se uma "#" antes do nome do id */
/* Para o id se usa quando deseja mexer em um unico elemento */

#test0 {
    background-color:black;
    font-size: larger;
    color: grey;
}

#test1{
    background-color:black;
    font-size: larger;
    color: purple;
}

a{
    background-color:black;
    color: aqua;
}