body{
    margin: 0;
    padding: 0px 20;
}

.header{
    text-align: center;
    f
    top: 0;
    position:fixed;
    width:100%;
    height: 60px;
    background-color:rgb(4, 75, 113);
    font-family: papyrus;
}
